//- views/restringida.jade
extends layout

block content
  h2 Página Restringida
  p Solo puedes acceder a esta página si has iniciado sesión en algún momento.
  p En caso contrario, no puedes acceder a esta página.
